/* 共通のCSS */

html, body {
  margin: 0;
  width:100%
}

.header-inner {
  width: 100%;
  max-width: 1200px;
  /* ヘッダーを画面上部に固定 */
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background:blue; */
}  

h1 {
  margin: 0;
}

/* aタグの高さをlogoに合わせる */
h1 a {
  display:block;
  height: 47px;
}

/* スマホ版では表示しない。 */
.logo {
  display: none;
}

/* スマホ版で表示する */
.logoforSP {
  display: initial;
}

.header-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* background: pink; */
  margin: 0;
  /* liの左側パッディングを削除 */
  padding-inline-start: 0;
  justify-content: center;
}

.header-nav li {
  width: 30%;
  margin :1%;
  border: 2px gray solid;
  border-radius: 2px;
  text-align:center;
  /* background: silver; */
}  

.header-nav a {
  text-decoration: none;
  transition: all ease .5s;
  opacity: 1;
  color:black;
}

.header-nav a:hover {
  opacity: .7;
  color: green;
}  

/* メインビジュアル */

.main-visual {
  display: block;
  /* メインビジュアルがヘッダーの下に隠れないように */
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 200px;
}  

/* メインコンテンツ */

.wrapper {
  max-width: 1200px;
  padding: 4%;
  margin: 0 auto;
  /* background: silver; */
}

/* .wrapper2 {
  background:yellow;
} */

h2 {
  font-size: 32px;
  padding-left: 12px;
  border-left: 10px solid green;
}

.contents-container p {
  margin-left: 12px;
}

.desc {
  flex: 1;
}

.contentsImg {
  width: 300px;
  margin: 32px;
}

.p100pxImg {
  width: 100px;
  margin: 16px;
}

.back-to-top {
  position:fixed;
  bottom: 10px;
  right: 10px;
  background: green;
  border-radius: 5px;
  color: white;
  text-align:center;
  padding: 5px 20px;
}

.back-to-top:hover {
  opacity: .7;
}

/* 600px以上の画面用のCSS */
@media (min-width: 600px) {
  
  .header-inner {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }  
  
  /* PC版では表示しない。 */
  .logo {
    display: initial;
  }
  
  /* PCで表示する */
  .logoforSP {
    display: none;
  }
  
  /* aタグの高さをlogoに合わせる */
  h1 a {
    display:block;
    height: 100px;
  }
  
  .contents-container {
    /* 画像と文章を横並びにする */
    display: flex;
    align-items: center;
  }
  
  .header-nav ul {
    justify-content: flex-end;
  }

  /* navをボーダーなし１行で表示 */
  .header-nav li {
    width: auto;
    margin :5px;
    border: none;
    /* text-align:left; */
  } 
  
  .header-nav a {
    font-size:20px;
  }
  

  .main-visual {
    /* メインビジュアルがヘッダーの下に隠れないように */
    padding-top :100px;
  }  
  
  .wrapper {
    /* 要素がヘッダーの後ろに隠れないように */
    padding-top: 110px;
  }
  
  /* PC版では表示しない。 */
  .TopImgforSP {
    display: none;
  }  
}    

