body {
  padding-top :100px;
}
header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
}

.header-inner {
  max-width: 1200px;
  display: flex;
  /* background: silver; */
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  
}

.header-nav ul {
  display: flex;
  list-style: none;
}

.header-nav li:not(:last-child) {
  margin-right :40px;
}

.header-nav a {
  font-size:20px;
  text-decoration: none;
  transition: all ease .5s;
  opacity: 1;
  color: black;
}

.header-nav a:hover {
  opacity: .7;
  color: green;
}

.TopImg {
  margin-bottom: 150px;
}

section {
  /* 要素がヘッダーの後ろに隠れないように */
  margin-bottom: 250px;
}

h2 {
  font-size: 32px;
  padding-left: 12px;
  border-left: 10px solid green;
}

section {
  padding-top: 150px;
}


.contents-container {
  display: flex;
  align-items: center;
}


.contents-container p {
  margin-left: 12px;
}

.desc {
  flex: 1;
}

.contentsImg {
  width: 300px;
  margin: 32px;
}

.p100pxImg {
  width: 100px;
  margin: 16px;
}