/* 共通のCSS */

body {
  padding-top :100px;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
}

.header-inner {
  /* background: skyblue; */
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}  

h1 {
  margin: 0;
}

/* aタグの高さをlogoに合わせる */
h1 a {
  display:block;
  height: 47px;
}

/* スマホ版では表示しない。 */
.logo {
  display: none;
}

/* スマホ版で表示する */
.logoforSP {
  display: initial;
}

/* .header-nav {
  background: orange;
} */

.header-nav ul {
  list-style: none;
  display: flex;
  /* background: pink; */
  margin: 10px;
  padding-inline-start: 0;
}

.header-nav li {
  margin :5px;
  /* background: silver; */
}  

.header-nav a {
  text-decoration: none;
  transition: all ease .5s;
  opacity: 1;
  color:black;
}

.header-nav a:hover {
  opacity: .7;
  color: green;
}  

/* スマホ版では表示しない。 */
.TopImg {
  display: none;
}

/* スマホ版で表示する */
.TopImgforSP {
  margin: 0 auto;
  display: block;
}


section {
  max-width: 1200px;
  /* 要素がヘッダーの後ろに隠れないように */
  padding-top: 110px;
  padding-left: 10px;
  /* background: silver; */
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  padding-left: 12px;
  border-left: 10px solid green;
}

.contents-container p {
  margin-left: 12px;
}

.desc {
  flex: 1;
}

.contentsImg {
  width: 300px;
  margin: 32px;
}

.p100pxImg {
  width: 100px;
  margin: 16px;
}

/* 600px以上の画面用のCSS */
@media (min-width: 600px) {
  
  .header-inner {
    flex-direction: row;
    justify-content: space-between;
  }  
  
  /* PC版では表示しない。 */
  .logo {
    display: initial;
  }
  
  /* PCで表示する */
  .logoforSP {
    display: none;
  }
  
  /* aタグの高さをlogoに合わせる */
  h1 a {
    display:block;
    height: 100px;
  }
  
  .contents-container {
    /* 画像と文章を横並びにする */
    display: flex;
    align-items: center;
  }
  
  .header-nav a {
    font-size:20px;
  }
  
  /* PC版で表示する */
  .TopImg {
    margin: 20px auto;
    display: block;
  }
  
  /* PC版では表示しない。 */
  .TopImgforSP {
    display: none;
  }
}  

/* これより下は、未選別 */


/* ↓これいらない？ */
/* .TopImg {
  margin-bottom: 150px;
} */  

